extends layout 
block content 
  .p-5.mb-4.bg-body-tertiary.rounded-3
      .container-fluid.py-5
        h1.display-5.fw-bold codeFuel
        h5.col-md-8.fs-4 Stack
          ul 
            li 
              p Hosting Provider 
              ul 
              li 
                p 
                a(href="https://github.com") Github 
              li 
                p   
                a(href="https://fly.io/") Fly 
            li 
              p DNS 
              ul 
                li 
                  p 
                  a(href="https://cloudfare.com") Cloudfare 
            li 
              p Stack 
              ul 
                li Express 
                li Nodejs 
                li certificate API
                li Bootstrap
            li
              a(href="https://github.com/shivanshguleria/codefuel") 
                img.m-1(src="https://img.shields.io/badge/Branch-Main-brightgreen", alt="badge")

              

