extends layout 
block content 
  .p-5.mb-4.bg-body-tertiary.rounded-3
      .container-fluid.py-5
        h1.display-5.fw-bold Contacts 
            h6 
                <a href="mailto:contact@stratagem.ml">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email</a>