extends layout 
block content  
 main.form-signin.w-100.mx-auto(style="width: 300+px;")
      form
        .form-floating.mb-3
          input#floatingInput.form-control(type="text", placeholder="text text")
          label(for="floatingInput") Your name
        .form-floating.mb-3
          input#floatingInput.form-control(type="email", placeholder="name@example.com")
          label(for="floatingInput") Email address
        .form-floating.mb-3
          input#floatingPassword.form-control(type="password", placeholder="Password")
          label(for="floatingPassword") Password
        .form-floating.mb-3
          select#floatingSelect.form-select(aria-label="Floating label select example")
            option(selected) Select
            option(value="1") Learner
            option(value="2") Creator
          label.h6(for="floatingSelect") Role
        button.w-100.btn.btn-lg.btn-primary(type="submit") Sign up
        .mb-3.container
          label.justify-content-end.d-flex.mt-1
           span
            a(href="/login") Login

 